@import "modules/base";

/* Search Field */
#{$prefix} {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s ease;

  // display: block !important; // DEV
  // visibility: visible !important; // DEV
  // opacity: 1 !important; // DEV

  .admin-bar & {
    top: 32px;
  }
}

/* Hide Modifier */
#{$prefix + "--hide"} {
  visibility: hidden;
  opacity: 0;
}

/* Close Element */
#{$prefix + "__close"} {
  z-index: 9999;
  position: fixed;
  top: rem(40);
  right: rem(40);
  display: block;
  width: rem(30);
  height: rem(30);
  border-radius: 100%;
  cursor: pointer;

  &:active {
    &:before {
      transform: translate(-50%, -50%) rotate(35deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-35deg);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: darken($white, 20%); // #CCC
    width: 100%;
    height: rem(4);
    border-radius: rem(4);
    transform-origin: center;
    transition: 0.3s ease;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .admin-bar & {
    top: rem(40) + rem(32);
  }
}

/* Style 1 */
@import "partials/style-1";

/* Style 2 */
@import "partials/style-2";

/* Style 3 */
@import "partials/style-3";

/* Style 4 */
@import "partials/style-4";

.et_fullwidth_nav .et-search-form,
.search-form {
  right: 0 !important;

  .et-search-field {
    right: 0 !important;
    bottom: auto;
    width: 100%;
    box-sizing: border-box;
    border: 0 !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}